<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoList</title>
    <link rel="stylesheet" href="styles/main.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <div class="nav"><div class="logo"><a href="#footer">Meron</a></div>
        <ul>
            <li><a href="/"><i class='bx bx-calendar'></i> Today</a></li>
            <li><a href="/work"><i class='bx bx-copy'></i> Work</a></li>
        </ul>
    </div>    
    </header>