* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    overflow-y: scroll;
    background-color: #c9c9c9;
}

header {
    background-color: #fa8b8b;
    margin-bottom: 2rem;
    transition: .5s ease-in-out;
}

header:hover {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.9);
}

.nav {
    margin: 1rem;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-family:'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 2.5rem;
}

ul {
    display: flex;
    gap: 1.5rem;
}

li { 
    padding: 10px 10px;
    transition: .5s ease-in-out;
}

ul li:hover {
    background-color: #4ae791;
    transform: scale(1.2);
}


.container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    transition: box-shadow .5s ease-in-out;
}

.container:hover {
    box-shadow: 25px 25px 60px rgba(0, 0, 0, 0.9);
}

.container h1 {
    background-color: #bd0404;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 1.5rem;
}

.list {
    width: 100%;
    background-color: #eccece;
    display: flex;
    flex-direction: column;
}

.list-item {
    display: flex;
    gap: 1.5rem;
    padding: 10px;
    border-bottom: solid 1px black;
}

input[type="text"] {
    width: 500px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 3px 10px;
    transition: .5s ease-in-out;
}

input[type="text"]:hover {
    transform:scaleY(1.2)
}

.list button {
    background-color: #573ee4;
    padding: 5px;
    border-radius: 50%;
    color: #fff;
    transition: .5s ease-in-out;
}

.list button:hover {
    background-color: #4ae791;
    transform: scale(1.2);
}

input[type="checkbox"] {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%; 
    border: 2px solid #3498db;
    outline: none; 
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
}

.checkedbox {
    background-color: #3498db; 
}

p {
    text-align: center;
}

footer {
    margin-top: 2rem;
    text-align: center;
}


.checked {
    text-decoration: line-through;
}